
<br/>
<div class="row">


<div class="col-12">
    <% @news.each do |news| %>
  
<div class="row">
        

<% if(!news.image.attached?) %>
<div class="col-lg-12 col-md-12  col-sm-12 col-12">
            <span class=""><%= news.published.strftime("%B #{news.published.day.ordinalize}, %Y") %></span>
            <br>
            <br>
            <h2 class="verlag-bold"><%= news.title.titleize %></h2>
            <h3 class="text-muted"><%= news.subtitle.titleize %></h5>
            <p class="">
            <%= news.body %>
            </p>
             <p>
                <%= link_to news, :class => 'btn btn-dark' do %>
                Read More
                <i class="fas fa-book-reader"></i>
                <% end %>
            </p>
        </div>
    </div>


            <% else %>
        <div class="col-lg-2 col-md-12 col-sm-12 col-12 order-1 order-lg-1 order-sm-1">


            <%= link_to news do %>
            
            <%= image_tag news.image.variant( resize: "400x200", charcoal: ".10", border: "5%x5%", flop: true), :class => "img-fluid" %>
            
            <% end %>

           

        </div>

        <div class="col-lg-10 col-md-12  col-sm-12 col-12 order-2 order-lg-2 order-sm-2">
            <span class=""><%= news.published.strftime("%B #{news.published.day.ordinalize}, %Y") %></span>
            <br>
            <br>
            <h2 class="verlag-bold"><%= news.title.titleize %></h2>
            <h3 class="text-muted"><%= news.subtitle.titleize %></h5>
            <p class="">
			<%= news.body %>
		    </p>
            <p>
                <%= link_to news, :class => 'btn btn-dark' do %>
                Read More
                <i class="fas fa-book-reader"></i>
                <% end %>
		    </p>
        </div>
    </div>
		<br/>
        <hr/>

 <% end %>
    <% end %>
</div>






</div>
