<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @news.subtitle %>
</p>

  <% if(!@news.image.attached?) %>

      <p>No Image</p>
      <% else %>

            <%= image_tag @news.image.variant( resize: "400x200", charcoal: ".10", border: "5%x5%", flop: true), :class => "img-fluid" %>

            <% end %>

<p>
  <strong>Body:</strong>
  <%= @news.body %>
</p>

<p>
  <strong>Published:</strong>
  <%= @news.published %>
</p>

<p>
  <strong>Updated:</strong>
  <%= @news.updated %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
