<h1><%= @news.title.titleize %></h1>

<h3 class="text-muted"><%= @news.subtitle.titleize %></h3>

  <% if(!@news.image.attached?) %>

      <p>No Image</p>
      <% else %>
            <%= image_tag @news.image.variant( resize: "400x200", charcoal: ".10", border: "5%x5%", flop: true), :class => "img-fluid" %>
            <% end %>

<p>
  <%= @news.body %>
</p>

<p>
  <strong>Published:</strong>
 <%= @news.published.strftime("%B #{@news.published.day.ordinalize}, %Y") %>
</p>

<p>
  <strong>Updated:</strong>
  <%= @news.updated.strftime("%B #{@news.updated.day.ordinalize}, %Y") %>
</p>


<%= link_to edit_news_path(@news), :class => "btn btn-success btn-md" do %>
<i class="fas fa-pencil-alt"></i> Edit
<% end %>

<%= link_to news_index_path, :class => "btn btn-dark btn-md" do %>
<i class="fas fa-newspaper"></i> All News
<% end %>


<%= link_to root_path, :class => "btn btn-primary btn-md" do %>
<i class="fas fa-home"></i> Home
<% end %>